*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif !important;
  background-color: #eee;
}

a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

ul {
  list-style: none;
}

/* Top navbar */

nav {
  padding: 0 !important;
  white-space: nowrap;
}

.nav-box {
  flex-direction: row-reverse;
}

.offcanvas {
  background-color: #38bbe6 !important;
}

.offcanvas-header {
  border-bottom: 1px solid #fff !important;
}

.reverse-logo {
  width: 250px;
}

li,
a {
  height: 100% !important;
  display: block;
}

.nav-box .nav-item a {
  display: flex !important;
  align-items: center;
  font-size: 18px;
  padding: 8px 12px !important;
  font-weight: 500;
  color: #fff !important;
  height: 65px !important;
}

.nav-box .nav-item :hover {
  /* background-color: #234580; */
  background-color: #fff;
  color: #38bbe6 !important;
}

.bg-body-tertiary {
  background-color: #38bbe6 !important;
}

.navbar-brand img {
  height: 60px;
}

/* Navbar Bottom */
.navbar-botton {
  border: 1px solid #eee;
  width: 575px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 22px;
  position: fixed;
  z-index: 999;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 99px;
  padding: 16px 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 1px 7px -3px;

  /* -webkit-backdrop-filter: blur(30px); */
  /* backdrop-filter: blur(30px); */
  background-color: #fff;
}

.navbar-botton a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.2s;
  color: #0daae0;
}

.navbar-botton a:hover {
  /* transform: scale(1.1); */
  color: #0d6efd !important;
}

.navbar-botton a:hover p {
  color: #0d6efd !important;
}

.navbar-botton svg {
  color: inherit;
  width: 28px !important;
  height: 28px !important;
}

.navbar-botton p {
  /* color: #234580; */
  color: #0d6efd !important;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}

.navbar-botton .active,
.navbar-botton .active p {
  /* transform: scale(1.1); */
  /* color: #0d6efd !important; */
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.uniform-icon {
  font-size: 32px;
  margin-left: 18px;
}

@media (min-width: 991px) {
  .uniform-icon {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .navbar-botton {
    width: 375px;
  }

  .navbar-botton p {
    font-size: 12px !important;
  }
}

/* Hero */
.carousel-item img {
  /* filter: grayscale(1); */
  /* position: relative; */
}

.carousel-inner {
  background-image: url(./images/hero1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 217px; */
  aspect-ratio: 16 / 9;

  /* position: relative; */
}

.carousel-item {
  position: relative;
  /* height: fit-content !important; */
  /* height: 217px; */
  aspect-ratio: 16 / 9;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

/* .carousel-inner a {
  height: fit-content !important;
  position: absolute;
  top: 0;
  left: 0;
} */

.carousel-item div {
  position: absolute;
  width: 90%;
  /* height: 217px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-item div a {
  outline: none;
  border: none;
  color: #fff;
  background-color: #0daae0;
  /* margin-top: 12px; */
  padding: 16px 22px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 32px;
  margin: auto;
  display: block;
  width: fit-content;
  transition: 0.2s;
}

.carousel-item div a:hover {
  background-color: #234580;
}

.carousel-item p {
  text-align: center;
  color: #fff !important;
  /* color: #0d6efd !important; */
  font-size: 44px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 575.98px) {
  .carousel-item p {
    font-size: 24px;
  }

  .carousel-item div a {
    padding: 10px 22px;
  }
}

/* Video */
.video {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 32px;
}

.video iframe {
  aspect-ratio: 16 / 9;
  width: 80% !important;
}

/* Form */
.form-section {
  display: flex;
  background-color: #fff;
  /* align-items: center; */
  margin: 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 1px 7px -3px;
  /* background-color: red; */
}

input,
select {
  background-color: #eee !important;
}

.form_box {
  padding: 16px;
  /* background-color: blue; */
  width: fit-content;
  margin: auto;
  margin-top: 0px;
  /* border-radius: 16px; */
  /* margin-bottom: 144px; */
}

.form_box h1 {
  font-weight: 600;
  margin-bottom: 32px;
}

form {
  width: 600px;
  margin: auto;
}

form span {
  color: red;
}

label {
  font-weight: 500;
}

.submit-btn {
  width: 100% !important;
  background-color: #38bbe6;
  border: #38bbe6;
  height: 50px !important;
}

.form_box,
.form-image-box {
  /* background-color: red; */
  /* height: 100% !important; */
}

.form-image-box {
  /* background-color: red; */
  overflow: hidden;
  height: 100% !important;
}

.form-image-box img {
  object-fit: cover;
  height: 100% !important;
}

.offer-two-cards,
.offer-four-cards {
  display: none;
}

.spinner-border {
  border-color: #fff;
  border-right-color: transparent;
}

@media (max-width: 1100px) {
  .form-image-box {
    display: none !important;
  }

  .form-section {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 650px) {
  form {
    width: 325px;
  }
}

/* Features */

.features {
  padding: 16px;
  margin-top: 32px;
}

.features h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 24px;
}

.features-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.feature {
  width: 500px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.feature div {
  padding: 16px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.075);
}

.feature div:nth-child(1) {
  background-color: #0daae0;
  width: 131px !important;
  height: 131px !important;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature div:nth-child(2) {
  background-color: #fff;
  height: 131px;
}

.feature p {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.feature i {
  color: #fff;
  font-size: 66px;
}

@media (max-width: 575.98px) {
  .feature p {
    font-size: 16px;
  }
}

/* Benefit */
.benefit {
  padding: 32px;
  background-color: #234580;
  color: #fff;
  margin-top: 32px;
}

.benefit h1 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 600;
}

.benefit ul {
  list-style: circle !important;
  padding: 0;
}

.benefit li {
  margin-bottom: 16px;
  font-size: 18px;
}

.benefit li i {
  color: #38bbe6;
}

@media (max-width: 575.98px) {
  .benefit li {
    font-size: 16px;
  }

  .benefit {
    padding: 16px;
  }
}

/* Contact us */
.contact {
  text-align: center;
  padding: 16px;
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact p {
  width: 80%;
  margin: auto;
  font-size: 22px;
  font-weight: 500;
}

.contact a {
  outline: none;
  border: none;
  color: #fff;
  background-color: #0daae0;
  padding: 16px 22px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 32px;
  margin: auto;
  display: block;
  width: fit-content;
  transition: 0.2s;
  margin-top: 32px;
}

.contact a:hover {
  background-color: #234580;
}

@media (max-width: 575.98px) {
  .contact p {
    width: 100%;
    font-size: 19px;
  }
}

/* Footer */
footer {
  background-color: #333;
  padding: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 110px;
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

footer a.phone {
  color: #38bbe6;
  font-size: 22px;
  font-weight: 500;
  width: fit-content;
  text-align: center;
  margin: auto;
}

footer a:hover {
  color: #75d6f7;
}

footer p.copyright {
  font-size: 22px !important;
  color: #515151;
}

/* Thank you page */
.thankyou {
  width: 100%;
  padding: 16px;
  background-color: #194397;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thankyou img {
  margin-bottom: 70px;
  margin-top: 70px;
}

.thankyou h1 {
  margin-bottom: 50px;
}

.thankyou h4 {
  color: #d1d1d1;
  margin-bottom: 50px;
}

.thankyou a {
  margin-bottom: 40px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-weight: 600;
  transition: 0.2s;
  border-radius: 8px;
}

.thankyou a:hover {
  color: #194397;
  background-color: #fff;
}

/* Privacy */
.privacy {
  padding: 32px;
  background-color: #194397;
  color: #fff;
  text-align: center;
}

.privacy ul {
  list-style: circle !important;
  padding: 0;
}
